<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Using Go HTML Templates</title>
        <style>
            html {
                font-size: 16px;
            }
            table, th, td {
                border: 3px solid gray;
            }
        </style>
    </head>
    <body>
        <h2 alight="center">Presenting Dynamic content!</h2>

        <table>
            <thead>
                <tr>
                    <th>P1</th>
                    <th>P2</th>
                    <th>P3</th>
                    <th>P4</th>
                    <th>P5</th>
                </tr>
            </thead>
            <tbody>
            {{ range . }}
            <tr>
                <td> {{ .P1 }} </td>
                <td> {{ .P2 }} </td>
                <td> {{ .P3 }} </td>
                <td> {{ .P4 }} </td>
                <td> {{ .P5 }} </td>
            </tr>
            {{ end }}
            </tbody>
        </table>
    </body>
</html>
